<!DOCTYPE html>
<html lang="{{ config.extra?.language_code or "en-US" }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{<adidoks.head_resource />}}
{{<adidoks.head_stylesheet />}}

{% block seo %}{% endblock seo %}

{{<adidoks.head_favicons config={config} />}}
{% block math %}{{<adidoks.math enabled={config.extra?.math or false} library={config.extra?.library or false} />}}{% endblock math %}
</head>
{% block body %}{% set page_class="home" %}{% endblock body %}
<body class="{{ page_class }}">
  {% block header %}
    {{<adidoks.header current_section="/" config={config} lang={lang} />}}
  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {{<adidoks.footer config={config} />}}
  {% endblock footer %}

  {{<adidoks.javascript config={config} lang={lang} />}}
</body>
</html>
