{% extends "page.html" %}

{% block body %}
  {% set page_class = "docs single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "courses" %}
  {{<adidoks.header current_section={current_section} config={config} lang={lang} />}}
{% endblock header %}

{% block content %}
{% set current_section = "courses" %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{<site.docs_sidebar current_section={current_section} current_url={current_url} />}}
	  {{<adidoks.docs_toc page={page} />}}
      {# The table of contents takes col-xl-3 when a page enables it. No page
         does today, and that space would otherwise sit empty, so the content
         claims it and gives way again if a table of contents appears. #}
      {% if page.extra?.toc %}
        {% set content_columns = "col-xl-9" %}
      {% else %}
        {% set content_columns = "col-xl-12" %}
      {% endif %}
      <main class="docs-content col-lg-11 {{ content_columns }}">
        <h1>{{ page.title }}</h1>
        {% if page.extra?.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
        {{ page.content | safe }}
        {% if config.extra?.edit_page %}
          {{<adidoks.docs_edit_page config={config} current_path={current_path} />}}
        {% endif %}
        {{<site.docs_navigation page={page} current_section={current_section} />}}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
