<!DOCTYPE html>
<html lang="{{ config.extra?.language_code or "en-US" }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{<site.head_resource />}}
{{<site.head_stylesheet />}}

{% block seo %}{% endblock seo %}

{{<site.head_favicons />}}
</head>
{% block body %}{% set page_class="home" %}{% endblock body %}
<body class="{{ page_class }}">
  {% block header %}
    {{<adidoks.header current_section="/" config={config} lang={lang} />}}
  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {{<site.footer />}}
  {% endblock footer %}

  {% block js %}{% endblock js %}
  {{<adidoks.javascript config={config} lang={lang} />}}
</body>
</html>
