{% extends "page.html" %}

{% block body %}
  {% set page_class = "docs single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "courses" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::docs_sidebar(current_section=current_section) }}
	  {{ macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        <h1>{{ page.title }}</h1>
        {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
        {{ page.content | safe }}
        {% set data = load_data(path="coursedates.csv") -%}
        {% set records = data["records"] | filter(attribute="0", value=page.relative_path) | sort(attribute="3") %}
        {% if records | length <= 0 %}
        <hr />
        <p>Derzeit gibt es keine Termine für den Kurs.<br />
        Du kannst mir aber gerne eine <a href="/courses/courses-and-booking/booking/#kursanfrage">Kursanfrage</a> schicken.</p>
        {% else %}
        {% set showName = records | map(attribute="1") | join(sep="") | length > 0 %}
        {% set showPrice = records | map(attribute="2") | join(sep="") | length > 0 %}
        <table>
          <thead>
              <tr>
                  {% if showName == true %}<th>Name</th>{% endif %}
                  {% if showPrice == true %}<th>Preis</th>{% endif %}
                  <th colspan="2">Datum</th>
              </tr>
          </thead>
          <tbody>
              {% for record in records %}
              <tr>
                  {% if showName == true %}
                  <td>
                    {{ record[1] }}
                  </td>
                  {% endif %}
                  {% if showPrice == true %}
                  <td>
                    {{ record[2] }}
                  </td>
                  {% endif %}
                  <td>
                    {{ record[3] | date(format="%a. %d.%m.%Y - %H:%M", locale="de_DE") }}{% if record[4] | length > 0 %}-{{ record[4] | date(format="%H:%M") }}{% endif %}
                    {% if record[5] | length > 0 %} &amp;<br/>
                    {{ record[5] | date(format="%a. %d.%m.%Y - %H:%M", locale="de_DE") }}{% if record[6] | length > 0 %}-{{ record[6] | date(format="%H:%M") }}{% endif %}
                    {% endif %}
         
	   <td>

  {% assign wochentag = record[3] | date: "%a" %}
  {% if wochentag == "Mon" %}
    {% assign wochentag = "Mo." %}
  {% elsif wochentag == "Tue" %}
    {% assign wochentag = "Di." %}
  {% elsif wochentag == "Wed" %}
    {% assign wochentag = "Mi." %}
  {% elsif wochentag == "Thu" %}
    {% assign wochentag = "Do." %}
  {% elsif wochentag == "Fri" %}
    {% assign wochentag = "Fr." %}
  {% elsif wochentag == "Sat" %}
    {% assign wochentag = "Sa." %}
  {% elsif wochentag == "Sun" %}
    {% assign wochentag = "So." %}
  {% endif %}

  {% assign mail_subject = "Buchungsanfrage - " | append: page.title %}
  {% if showName == true %}
    {% assign mail_subject = mail_subject | append: " - " | append: record[1] %}
  {% endif %}

  {% assign mail_body = "Liebes Ivy Poledance Team,%0D%0A%0D%0A" %}
  {% assign mail_body = mail_body | append: "ich buche hiermit (sofern verfügbar):%0D%0A%0D%0A" %}
  {% assign mail_body = mail_body | append: page.title %}
  {% assign mail_body = mail_body | append: " - " | append: wochentag | append: " " | append: record[3] | date: "%d.%m.%Y" %}
  {% assign mail_body = mail_body | append: " und " | append: record[4] | date: "%d.%m.%Y" %}
  {% assign mail_body = mail_body | append: " (" | append: record[5] | date: "%H:%M" %}
  {% assign mail_body = mail_body | append: " - " | append: record[6] | date: "%H:%M" | append: ")" %}
  {% assign mail_body = mail_body | append: "%0D%0A%0D%0A" %}
  {% assign mail_body = mail_body | append: "und bitte um die Übermittlung der Überweisungsdaten zur Begleichung der Kursgebühr.%0D%0AMit der Überweisung bestätige ich, die AGB inklusive Stornoregelung gelesen und zur Kenntnis genommen zu haben.%0D%0A%0D%0ALG" %}

  <a class="btn btn-primary" href="mailto:buchung@ivypoledance.at?subject={{ mail_subject | urlencode }}&body={{ mail_body }}">Buchen</a>

</td>

		      
	   
              {% endfor %}
          </tbody>
          <tfoot>
            <tr>
                <td colspan="4">Mit einer Buchung bestätigst du unsere <a href="/imprint/#agb">AGB</a>.</td>
            </tr>
          </tfoot>
        </table>
        {% endif %}
        {% if config.extra.edit_page %}
          {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
        {% endif %}
        {{ macros_navigation::docs_navigation(page=page, current_section=current_section) }}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
