{% extends "page.html" %}

{% block body %}
  {% set page_class = "docs single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "courses" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::docs_sidebar(current_section=current_section) }}
	  {{ macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        <h1>{{ page.title }}</h1>
        {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
        <h2 id="aktuelle-kurse">Aktuelle Kurse</h2>
        {% set data = load_data(path="coursedates.csv") -%}
        {% set records = data["records"] | sort(attribute="3") %}
        {% if records | length <= 0 %}
        <p>KURSPAUSE VOM 26.10.2024 - 17.12.2024<br />
		<br />
        In dieser Zeit finden keine Kurse und Privatstunden statt (Poledance im Studioraum Westbahnhof; Aerial Spiral im TRAP Circus Center). <br />
		<br />
		Du kannst mir aber gerne eine <a href="/courses/courses-and-booking/booking/#kursanfrage">Kursanfrage</a> schicken, bzw. dich schon jetzt für die Zeit danach für eine Privatstunde voranmelden</p>
        {% else %}
        {% set showPrice = records | map(attribute="2") | join(sep="") | length > 0 %}
        <p>
          Aktuell kannst du folgende Kurse, sowie Privat- und Kleingruppenstunden für AERIAL SPIRAL buchen.<br />
          Der Kursort für alle Poledance-Einheiten befindet sich direkt beim Westbahnhof - die genaue Adresse folgt in der Buchungsbestätigung.<br />
          Den Buchungslink findest du auf der Kursseite.<br />
<p><br /></p>
		<a href="https://ivypoledance.at/courses/courses-and-booking/private-lessions-trial/">Schnupperstunden</a> <br />
        </p>
        <table>
          <thead>
              <tr>
                  <th>Kurs</th>
                  {% if showPrice == true %}<th>Preis</th>{% endif %}
                  <th>Datum</th>
              </tr>
          </thead>
          <tbody>
              {% for record in records %}
              <tr>
                  <td>
                    {% set coursePage = get_page(path=record[0]) %}
                    <a href="{{ coursePage.path }}">{{ coursePage.title }}</a>
                    {% if record[1] | length > 0 %} - {{ record[1] }}{% endif %}
                  </td>
                  {% if showPrice == true %}
                  <td>
                    {{ record[2] }}
                  </td>
                  {% endif %}
                  <td>
                    {{ record[3] | date(format="%a. %d.%m.%Y - %H:%M", locale="de_DE") }}{% if record[4] | length > 0 %}-{{ record[4] | date(format="%H:%M") }}{% endif %}
                    {% if record[5] | length > 0 %} &amp;<br/>
                    {{ record[5] | date(format="%a. %d.%m.%Y - %H:%M", locale="de_DE") }}{% if record[6] | length > 0 %}-{{ record[6] | date(format="%H:%M") }}{% endif %}
                    {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {{ page.content | safe }}
        {% if config.extra.edit_page %}
          {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
        {% endif %}
        {{ macros_navigation::docs_navigation(page=page, current_section=current_section) }}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
